<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - task_slayer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/task_slayer.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    @if (User.Identity.IsAuthenticated) // 🔹 Só exibe a sidebar se o usuário estiver autenticado
    {
        <div class="sidebar">
        <button class="menu-btn" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </button>

        <div class="sidebar-links">
            <a asp-page="/Tarefa/Tarefas">
                <i class="fas fa-tasks"></i>
                <span>Tarefas</span>
            </a>
            <a asp-page="/Categoria/Categorias">
                <i class="fas fa-folder"></i>
                <span>Categorias</span>
            </a>
        </div>
    
        <form method="post" style="width: 100%;" asp-page="/Account/Logout">
            <button type="submit" class="logout-btn">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </button>
        </form>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
