@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* Container principal do login */
.login-box {
  background: linear-gradient(90deg, #ff8a00, #e52e71); /* Cores do dragão */
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(255, 138, 0, 0.3);
  animation: fadeIn 0.5s ease-in-out;
  align-self: auto;
  display: flex;
  flex-direction: column;
}
.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #23272a; /* Cor escura inspirada no Discord */

  font-family: 'Poppins', sans-serif;
}

/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-logo {
  height: 300px;
  width: 300px;
  margin-bottom: -60px;
  background: url('../assets/taskslayer_logo.png') no-repeat center/contain;
  z-index: 1;
}
/* Título */
h2 {
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 600;
}

/* Grupos de formulário */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  outline: none;
  transition: 0.3s ease;
}

.form-group input:focus {
  background: rgba(255, 255, 255, 0.1);
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
  gap: 5px; /* Espaço entre o checkbox e o texto */
}

.remember-me input {
  width: auto; /* Mantém o tamanho padrão */
  height: 16px;
  accent-color: #ff8a00; /* Aplica a cor do dragão ao checkbox */
  cursor: pointer;
}

/* Botão de login */
.btn-login {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  color: #e52e71;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-login:hover {
  background: rgba(255, 255, 255, 0.9);
}

/* Links de cadastro e recuperação de senha */
.links {
  margin-top: 15px;
  font-size: 14px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}
