@page "/tarefas/atualizar/{id:int}"
@model task_slayer.Pages.Tarefa.UpdateTarefa
@{
    ViewData["Title"] = "Criar Tarefa - Task Slayer";
}

@section Styles {
    <link href="~/css/create-tarefa.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
}

<div class="tarefa-container">
    <h2>Atualizar Tarefa</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Titulo"></label>
            <input asp-for="Input.Titulo" class="form-control" required maxlength="255"/>
            <span asp-validation-for="Input.Titulo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Descricao"></label>
            <textarea asp-for="Input.Descricao" class="form-control" maxlength="1000"></textarea>
            <span asp-validation-for="Input.Descricao" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.StatusId">Status</label>
            <select asp-for="Input.StatusId" asp-items="Model.StatusList" class="form-control"></select>
            <span asp-validation-for="Input.StatusId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.CategoriaId">Categoria</label>
            <select asp-for="Input.CategoriaId" asp-items="Model.CategoriaList" class="form-control"></select>
            <span asp-validation-for="Input.CategoriaId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.DataConclusao">Data de Conclusão</label>
            <input asp-for="Input.DataConclusao" type="text" class="form-control datepicker" required/>
            <span asp-validation-for="Input.DataConclusao" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="idTarefa" />
        <button type="submit" class="btn-submit">Criar Tarefa</button>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                showAnim: "slideDown"
            });
        });
    </script>
}